@import '../common.scss';

.count-div {
  width: 30vw;
  height: 10vh;
  margin: 5vh auto;
  line-height: 10vh;
  font-size: 10vh;
  color: white;
  font-family: $nanum;
}

.count-header {
  width: 100vw;
  height: 20vh;
  @include align-center;
  background-color: $navy-color;
}
