@import '../common.scss';

.ending-container {
  @include container;
  @include align-center;
  flex-direction: column;
  font-family: $nanum;
}

.ending-box {
  width: 80vw;
  height: 50vh;
  @include align-center;
  flex-direction: column;
  border: $border;
  background-color: $box-color;
}

.result-title {
  width: 70vw;
  height: 20vh;
  line-height: 25vh;
  text-align: center;
  font-size: 12vh;
}

.result-message {
  width: 70vw;
  height: 10vh;
  line-height: 15vh;
  text-align: center;
  font-size: 3vh;
}

.home-button-div {
  width: 70vw;
  height: 20vh;
  @include align-center;
  button {
    width: 25vw;
    height: 7vh;
    border: $border;
    background-color: $button-color;
    font-size: 4vh;
    font-family: $nanum;
  }
}
