@import '../common.scss';

.game-container {
  width: 100vw;
  height: 100vh;
  @include align-center;
  flex-direction: column;
  background-color: white;
}

.text-div{
  width: 70vw;
  height: 8vh;
  text-align: center;
  margin: 2vh;
  line-height: 11vh;
  font-size: 6vw;
  font-family: $nanum;
}

.pulsing-rings {
  width: 100px;
  height: 100px;
}

.pulsing-rings .pulsing-ringlet {
  width: 100px;
  height: 100px;
  background: white;
  border: 3px solid #6EAAFF;
  border-radius: 50%;
  position: absolute;
  transform: scale(0.1,0.1);
  opacity: 0;
  animation: pulsering 3000ms ease-out infinite;
}

.pulsing-rings .pulsing-ringlet:nth-of-type(2) {
  animation-delay: 600ms;
}
.pulsing-rings .pulsing-ringlet:nth-of-type(3) {
  animation-delay: 1200ms;
}

@keyframes pulsering {
  0% {
      transform: scale(0.1,0.1);
      opacity: 0
  }
  50% {
      opacity: 1
  }
  100% {
      transform: scale(1.2,1.2);
      opacity: 0
  }
}
