@import '../common.scss';

.hint-buttons-container {
  width: 100vw;
  height: 15vh;
  @include align-center;
  button {
    width: 30vw;
    height: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border: $border;
    font-size: 4vh;
    font-family: $nanum;
  }
}
.active {
  background-color: #f1c40f;
  animation: shake 1s;
}

.non-active {
  background-color: #cdbaac;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0) rotate(5deg); 
  }
  
  20%, 80% {
    transform: translate3d(2px, -4px, 0) rotate(-2deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -1px, 0) rotate(3deg);
  }

  40%, 60% {
    transform: translate3d(4px, 2px, 0) rotate(-4deg);
  }
}

