$blue-color: #003d61;
$border: 2px solid black;
$nanum: 'Nanum Pen Script', serif;

.home-container {
  width: 100vw;
  height: 100vh;
  font-family: $nanum;
}

.home-header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $blue-color;
}

.title-box {
  left: 7%;
  position: absolute;
  margin-right: 10%;
  p {
    text-align: left;
  }
}

.user-box {
  right: 6%;
  position: absolute;
}

.id {
  font-size: 35px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
}

.point {
  margin: 2px;
  font-size: 20px;
  color: white;
}

.logout-button {
  margin: 5px;
  border: $border;
  font-size: 16px;
  background-color: #a36131;
  font-family: $nanum;
}

.start-button-div {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 120px;
    height: 80px;
    margin: 150px auto;
    border: $border;
    background-color: #a98d75;
    font-size: 30px;
    font-family: $nanum;
  }
}
