@import '../common.scss';

.home-container {
  @include container;
  font-family: $nanum;
}

.home-header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $navy-color;
}

.title-box {
  left: 7%;
  position: absolute;
  margin-right: 10%;
  p {
    text-align: left;
  }
}

.user-box {
  right: 6%;
  position: absolute;
}

.title {
  font-size: 35px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
}

.id {
  margin: 2px;
  font-size: 30px;
  color: white;
}

.logout-button {
  margin: 5px;
  border: $border;
  font-size: 22px;
  background-color: $button-color;
  font-family: $nanum;
}

.start-button-div {
  height: 80vh;
  @include align-center;
  button {
    width: 120px;
    height: 80px;
    margin: 150px auto;
    border: $border;
    background-color: $box-color;
    font-size: 30px;
    font-family: $nanum;
  }
}
