@import '../common.scss';

.initial-container {
  @include container;
  margin: 0vh auto 0vh;
  @include align-center;
  background-color: $navy-color;
  font-size: 60px;
  color: white;
  font-family: $nanum;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
