$blue-color: #003d61;

.initial-container {
  width: 100vw;
  height: 100vh;
  margin: 0vh auto 0vh;
  position: relative;
  background-color: $blue-color;
  font-size: 10vh;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.title-div {
  width: 70vw;
  height: 30vh;
  position: absolute;
  top: 40vh;
  left: 14vw;
  font-family: 'Nanum Pen Script', serif;
}
