.initial-container {
  width: 100vw;
  height: 100vh;
  margin: 0vh auto 0vh;
  position: relative;
  background-color: #003d61;
  font-size: 10vh;
  color: white;
}

.title-div {
  width: 70vw;
  height: 30vh;
  position: absolute;
  top: 40vh;
  left: 14vw;
}
