@import '../common.scss';

.container {
  @include container;
  @include align-center;
  font-family: $nanum;
}

.login-box {
  margin: 0 auto 0;
  padding-top: 35px;
  padding-bottom: 15px;
  border: $border;
  background-color: $box-color;
}

.id-div {
  width: 260px;
  height: 95px;

  input {
    width: 180px;
    height: 35px;
    padding-left: 7px;
    border: $border;
    background-color: $input-color;
    font-size: 20px;
    font-family: $nanum;
  }
}

.label-div {
  width: 190px;
  margin: 0 auto;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
}

.pw-div {
  @extend .id-div;
}

.button-div {
  width: 260px;
  height: 60px;
  @include align-center;

  button {
    width: 100px;
    height: 50px;
    margin: 2px;
    border: $border;
    background-color: $button-color;
    font-family: $nanum;
    font-size: 20px;
    &:hover {
      font-size: 0vh;
    }
    &:hover:after {
      content: attr(text-hover);
      font-size: 20px;
    }
  }
}

.error-div {
  width: 190px;
  height: 20px;
  margin: 2px auto;
  text-align: left;
  font-size: 15px;
  font-weight: 800;
  color: red;
}

.link-div {
  width: 230px;
  height: 20px;
  margin: 0 auto;
  font-size: 20px;
  text-align: right;
}
