.photo-container {
  position: relative;
}

.img-box {
  width: 70vw;
  height: 40vh;
  display: inline-block;
  margin: 0 auto;
  img {
    width: 70vw;
    height: 40vh;
  }
}

.left-button-div {
  width: 13vw;
  height: 40vh;
  left: 0;
  position: absolute;
  display: inline-block;
  line-height: 40vh;
}

.right-button-div {
  width: 13vw;
  height: 40vh;
  right: 0;
  position: absolute;
  display: inline-block;
  line-height: 40vh;
}

.left-button {
  font-size: 7vh;
  font-weight: 700;
  color: white;
}

.right-button {
  @extend .left-button;
}
