@import './SendMessage.scss';

.recieve-message-box {
  width: 85vw;
  height: 12vh;
  margin: 2.5vh auto;
  display: inline-block;
  border: $border;
  background-color: $box-color;
  @include align-center;
}

.receive-message-container {
  width: 100vw;
  height: 20vh;
  @include align-center;
  font-size: 30px;
  font-family: $nanum;
}
