@import '../common.scss';

.seek-waiting-container {
  @include container;
  @include align-center;
  flex-direction: column;
  background-color: $navy-color;
}

.el-base {
  position: relative;
  height: 90px;
  width: 140px;
  background: $box-color;
  border-radius: 3px;
}

.el-inner-space {
  border-radius: 3px;
  border-top: solid 45px transparent;
  border-right: solid 70px $button-color;
  border-bottom: solid 45px $button-color;
  border-left: solid 70px $button-color;
}

.el-flap {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  border-top: solid 45px $box-color;
  border-right: solid 70px transparent;
  border-left: solid 70px transparent;
  animation: el-open 4s infinite;
}

.text-wait-div {
  width: 100vw;
  height: 8vh;
  text-align: center;
  margin: 2vh;
  line-height: 30px;
  font-size: 30px;
  font-family: $nanum;
  color: white;
}

@keyframes el-open {
  0% {
    border-top: solid 45px $box-color;
    transform: rotateX(90deg);
    transform-origin: center top;
  }

  60% {
    border-top: solid 45px $button-color;
    transform: rotateX(90deg);
    transform-origin: center top;
  }

  100% {
    border-top: solid 45px $box-color;
    transform: rotateX(180deg);
    transform-origin: center top;
  }
}
