@import '../common.scss';

.message-box {
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  background-color: $box-color;
  @include align-center;
  form {
    input {
      width: 70vw;
      height: 6vh;
      padding-left: 2vw;
      border: $border;
      background-color: white;
      font-size: 22px;
      font-family: $nanum;
    }
    button {
      width: 18vw;
      height: 6vh;
      margin-left: 4vw;
      border: $border;
      background-color: $button-color;
      font-size: 22px;
      font-family: $nanum;
    }
  }
}
