$border: 2px solid black;
$nanum: 'Nanum Pen Script', serif;

.message-container {
  width: 100vw;
  height: 10vh;
}

.message-box {
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  background-color: #a98d75;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 70vw;
    height: 6vh;
    margin: 1vh auto;
    padding-left: 2vw;
    border: $border;
    background-color: white;
    font-size: 3vh;
    font-family: $nanum;
  }
}

.message-form-div {
  width: 90vw;
  height: 9vh;
  line-height: 9vh;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 14vw;
    height: 6vh;
    margin-left: 4vw;
    border: $border;
    font-size: 3vw;
    font-family: $nanum;
  }
}
