@import './common.scss';

.App {
  height: 100%;
  text-align: center;
}

.seek-container {
  @include container;
  background-color: $navy-color;
}

.hide-container {
  @extend .seek-container;
  position: relative;
}

.give-up-button-div {
  width: 100vw;
  height: 7vh;
  @include align-center;
  button {
    width: 34vw;
    height: 5vh;
    border: $border;
    background-color: #787876;
    font-size: 13px;
    font-family: $nanum;
  }
}
