@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

html,
body {
  margin: 0px;
  font-family: 'Nanum Brush Script', serif;
}

button,
svg,
i,
input {
  outline: none;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100vh;
  background-color: #8db5cc;
}
